extends layout

block content
    link(rel='stylesheet', href='/css/markdown.css')
    div#blog
        !=body
    if user && user.id == blog.author_id
        a(href="/" + id + "/edit")
            div#edit
                i.fa.fa-edit
    if user && (user.id == blog.author_id || user.privilege >= 8)
        a(href="/" + id + "/delete")
            div#trash
                i.fa.fa-trash