extends layout

block content
    link(rel='stylesheet', href='/css/markdown.css')
    div#blog
        form(method="POST" enctype="multipart/form-data" id="form")
            if image
                img(src="/uploads/" + image)
            input(type="file" name="upload" accept="image/*")#image-upload
            input(placeholder="Title here" name="title" autocomplete="off" value=title)#h1
            h3=(subtitle)
            hr
            textarea(name="body" placeholder="Add blog body here using Markdown")#blog-post=(body)
            if !blog.published
                input(type="button" id="saveBtn" value="Save")
            input(type="button" id="postBtn" value="Publish")