extends layout

block content
    #barba-wrapper
        .barba-container
            link(rel="stylesheet" href="/css/account.css")
            page
                form(action="" method="POST").non-grid
                    h1 Reset Password
                    h3(style="font-variant-caps: small-caps;") Bulmer Solutions
                    if error
                        br
                        err(style="color: #f00; font-size: 0.9em; text-align: center; display: block;") #{error}
                    br
                    input(placeholder="Password" type="password" name="password" required)
                    input(placeholder="Confirm Password" type="password" name="password_confirm" required)
                    span(style="display: block; height: 43px; position: relative;")
                        input(type="submit" value="Next" style="display: inline-block; background-color: #555555; color: #ffffff; width: 25%; min-width: 100px; position: absolute; top: 0; right: 0;")