extends layout

block content
    page
        div#query
            input(onclick="" placeholder="Search")
            span#query-btns Search by: 
                button Name
                button User ID
                button Email
        div#output
            table
                thead
                    tr
                        th
                        th ID
                        th First Name
                        th Last Name
                        th Username
                        th Email
                        th Privilege
                tbody
                    for user in data
                        tr(id=user.id onclick="select(" + user.id + ")")
                            td(style="text-align: center;")
                                input(type="checkbox")
                            td= user.id
                            td= user.name_first
                            td
                            //= user.name_last
                            td
                            //= user.username
                            td
                            //= user.email
                            td= user.privilege
        div#options
            button(onclick="edit()") Edit
            button Merge
            button Delete

block scripts
    script(src="/js/select.js")