extends layout

block content
    page
        div#query
            input(onclick="" placeholder="Search")
            span#query-btns Search by: 
                button Name
                button User ID
        div#output