page > card {
    display: inline-block;
    width: calc(100% - 20px);
    padding: 10px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.25);
    grid-row-end: span 1;
}

page > card > title {
    display: inline-block;
    font-size: 1.5em;
    font-weight: bold;
    width: 75%;
    vertical-align: middle;
}

page > card > date {
    display: inline-block;
    text-align: right;
    width: 25%;
    vertical-align: middle;
}

page > card > summary {
    display: block;
    width: calc(100% - 20px);
    min-height: 2.30em;
    text-indent: 2em;
    line-height: 1.15em;
    padding: 10px;
}

.grid {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-auto-rows: 200px;
}