page > card {
    display: inline-block;
    width: calc(33% - 40px);
    padding: 10px;
    margin: 10px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.25);
}

page > card > title {
    display: inline-block;
    font-size: 1.5em;
    font-weight: bold;
    width: 75%;
    vertical-align: middle;
}

page > card > date {
    display: inline-block;
    text-align: right;
    width: 25%;
    vertical-align: middle;
}

page > card > summary {
    display: block;
    width: calc(100% - 20px);
    height: 2.30em;
    text-indent: 2em;
    line-height: 1.15em;
    padding: 10px;
}

/* When the screen is <= 992px, fit 2 blogs per row */
@media only screen and (max-width: 992px) {
    page > card {
        width: calc(50% - 40px);
    }
}

/* When the screen is <= 600px, fit 1 blogs per row */
@media only screen and (max-width: 600px) {
    page > card {
        width: calc(100% - 40px);
    }
}