extends layout

block content
    page
        if error
            err(style="color: #f00; font-size: 0.9em; text-align: center; display: block;") #{error}
        form(action="" method="POST" style="padding: 2em; width: calc(100% - 4em);").non-grid
            h1 Sign In
            h3(style="font-variant-caps: small-caps;") Bulmer Solutions
            br
            input(placeholder="Username" name="username" required)
            input(type="password" name="password" placeholder="Password" required)
            span(style="display: block; position: relative; height: 43px;")
                if captcha 
                    span(style="display: inline-block;")!= captcha
                    br
                a(href="http://account.bulmersolutions.com/forgot-password" style="line-height: 43px; margin: 0 5px; position: absolute; top: 0; left: 0;") Forgot Password
                input(type="submit" value="Sign In" style="background-color: #555555; color: #ffffff; width: 25%; min-width: 100px; position: absolute; top: 0; right: 0;")