nav
    span#nav-cls(onclick = "navClose()") Close 
        i.fa.fa-times
    - var http = (config.https) ? 'https://':'http://'
    a(href= http + config.url) Home
    a(href= http + 'blog.' + config.url) Blog
    a(href= http + 'store.' + config.url) Store
    br
    a(href= http + 'gaming.' + config.url) Gaming
    //- Adjusting nav based on if user is signed in
    br
    if user
        a(href= http + 'account.' + config.url) My Account
        a(href= http + 'account.' + config.url + '/logout') Logout
    else
        a(href= http + 'account.' + config.url + '/signin') Sign In
        a(href= http + 'account.' + config.url + '/signup') Sign Up
    span(style="bottom: 15px; left: 0; top: auto; padding: 0 15px; text-align: center; width: calc(100% - 30px);")#policy
        a(href= http + config.url + '/policy/privacy') &nbsp;Privacy&nbsp;
        | &bull;
        a(href= http + config.url + '/policy/cookies') &nbsp;Cookies&nbsp;
        | &bull;
        a(href= http + config.url + '/policy/terms') &nbsp;Terms&nbsp;