doctype html
html
  head
    title= 'Bulmer Solutions | '+ title

    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="icon" type="image/x-icon" href="favicon.ico")

    link(rel='stylesheet', href='/css/main.css')
    link(rel='stylesheet', href='/css/font-awesome.min.css')
    link(rel='stylesheet', href='/css/ionicons.min.css')
    link(rel='stylesheet' href="https://fonts.googleapis.com/css?family=Open+Sans:300,400")

    script(src="/js/barba.js" type="text/javascript")
  body
    bar
        - if (!http) { var http = (config.https) ? 'https://':'http://' }
        a.title(href="/" style="width: 250px; text-align: center; left: 0;") Bulmer Solutions
        span#nav-btn(onclick = "navOpen()")
            i.fa.fa-bars
    include ../modules/nav.pug
    block content
    script(src="/js/page.js" type="text/javascript")