doctype html
html
  head
    title= 'Piggah Bro Studios | '+ title

    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="icon" type="image/x-icon" href="favicon.ico")

    link(rel='stylesheet', href='/css/main.css')
    link(rel='stylesheet', href='/css/font-awesome.min.css')
    link(rel='stylesheet', href='/css/ionicons.min.css')
    script(src="/js/barba.js" type="text/javascript")
  body
    bar
        span#nav-btn(onclick = "navOpen()")
            i.fa.fa-bars
        a.title(href="http://" + url) Piggah Bro Studios
    include ../modules/nav.pug
    block content
    script(src="/js/page.js" type="text/javascript")