.Header {
  width: 100%;
  position: relative;
}

.title {
  font-size: 24px;
}

.nav {
  position: absolute;
  right: 0;
  display: inline;
  font-size: 24px;
}

.link {
  text-decoration: none;
  color: white;
  line-height: 36px;
  font-weight: normal;
}

.link:hover {
  color: orange;
  font-weight: normal;
}