bar
    - if (!http) { var http = (config.https) ? 'https://':'http://' }
    logo
    //- a.title(href=http + config.URL) Bulmer Solutions
    a.title(href="/") Bulmer Solutions
    span#nav-btn(onclick = "navOpen()")
        i.fa.fa-bars