.Portfolio {
  position: absolute;
  width: 100%;
  height: 100vh;
  left: 0px;
  top: 0px;

  /* Image rendering */
  background: linear-gradient(rgba(0, 0, 0, .55), rgba(0, 0, 0, .55)), url(paper-plant.jpg);
  background-size: cover;
  filter: saturate(150%) contrast(1.3);
  background-position-y: -55px;

  /* To not filter everything on the page... */
  z-index: -100;
}