extends layout

block content
    #barba-wrapper
      .barba-container
        page
            h1 Account
            h3 Manage your data here...
            div.container
                box 
                    h3 Manage Sign Ins
                    p Manage all of your logins including Facebook, Twitter, Google, Steam, and your local sign in.
                    a(href="/manage") Manage!
                box 
                    h3 Edit Account Info
                    p Change your profile on this page.
                    a(href="#") Edit!