doctype html
html
  head
    title= 'Bulmer Solutions | '+ title

    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="manifest" href="/manifest/main.json")
    link(rel="icon" type="image/x-icon" href="favicon.ico")

    link(rel='stylesheet' href='/css/main.css')
    link(rel='stylesheet' href='/css/font-awesome.min.css')
    link(rel='stylesheet' href="https://fonts.googleapis.com/css?family=Open+Sans:300,400")
    style.
        page {
            position: relative;
            top: auto;
            left: auto;
            height: calc(100vh - 4em);
        }
  body(style="overflow: hidden")
    include modules/nav.pug
    span(style="display: block; width: 100%; height: 100vh; overflow-y: scroll;")
        page(style="position: absolute; top: 0; left: 0; background-image: url('/images/background.png');")
            span#title
                div#logo
                div#title-text
                    h1(style="font-variant-caps: small-caps;") Bulmer Solutions
            span#downArrow(style="display: block; position: absolute; bottom: 25px; left: calc(50% - 100px); width: 200px; text-align: center; font-size: 1.25em;")
                h3 Scroll Down
                    br
                    i.fa.fa-chevron-down
        span#p2(style="top: 100vh; left: 0;position: absolute;width: 100%;height: 100vh;background-color: #fff;transition-duration: 1.5s;transition-timing-function: ease-in-out; background-color: #fafafa;")
            include modules/bar.pug
            page(style="height: calc(100vh - 50px - 2em); overflow-y: auto; width: calc(80%); padding: 1em 10%;")
                span.content
                    span
                        h2 Store
                        p We have many services and products including, web development, IT repairs, ethernet and more to come!
                    box
                        h3 Take a look!
                        p We have many products and services, go check them out!
                        a(href=http + "store." + config.url) Let's Go!
                span.content
                    span
                        h2 Blogs
                        p Find out everything that we are up to on this page!
                    box
                        h3 The Latest and Greatest
                        p Keep up-to-date with us and know what projects we are working on!
                        a(href=http + "blog." + config.url) Read Up!
                span.content
                    span
                        h2 Gaming Community
                        p Come join our gaming community!
                    box
                        h3 Play Games?
                        p Come join the fun with us!
                        a(href=http + "gaming." + config.url) Join Now!
    script(src="/js/p5.min.js" type="text/javascript")
    script(src="/js/logo.js" type="text/javascript")
    script(src="/js/page.js" type="text/javascript")
    script(src="/js/touch.js" type="text/javascript")
    script.
        window.addEventListener('keydown', function(e) {
            let pg = document.getElementById('p2');
            switch(e.keyCode) {
                case 38:    
                    // Up key -- scroll down
                    for (i = 0; i < p2.children.length; i++){
                        if (p2.children[i].tagName === "PAGE" && p2.children[i].scrollTop === 0){
                            if (pg.style.top === '0px') {
                                pg.style.top = "100vh";
                            }
                        }
                    }
                    break;
                case 40:
                    // Down key -- scroll up
                    for (i = 0; i < p2.children.length; i++){
                        if (p2.children[i].tagName === "PAGE"){
                            if (pg.style.top === '100vh') {
                                pg.style.top = "0px";
                            }
                        }
                    }
                    break;
            }
        });
        window.addEventListener('wheel', function(e) {
            let pg = document.getElementById('p2');
            for (i = 0; i < p2.children.length; i++){
                if (p2.children[i].tagName === "PAGE" && p2.children[i].scrollTop === 0){
                    if (e.deltaY < 0 && pg.style.top === '0px') {
                        pg.style.top = "100vh";
                    } else if (e.deltaY > 0 && pg.style.top === '100vh') {
                        pg.style.top = "0px";
                    }
                }
            }
        });
        const touch = new TouchInput(window, {
            treshold: 20,
            onSwipeDown: (e) => {
                let pg = document.getElementById('p2');
                for (i = 0; i < p2.children.length; i++){
                    if (p2.children[i].tagName === "PAGE" && p2.children[i].scrollTop === 0){
                        if (pg.style.top === '0px') {
                            pg.style.top = "100vh";
                        }
                    }
                }
            },
            onSwipeUp: (e) => {
                let pg = document.getElementById('p2');
                for (i = 0; i < p2.children.length; i++){
                    if (p2.children[i].tagName === "PAGE"){
                        if (pg.style.top === '100vh') {
                            pg.style.top = "0px";
                        }
                    }
                }
            }
        } );