extends layout

block content
    link(rel='stylesheet', href='/css/markdown.css')
    div#blog
        form(method="POST" enctype="multipart/form-data" id="form")
            input(type="file" name="upload" accept="image/*")#image-upload
            input(placeholder="Title here" name="title" autocomplete="off")#h1
            h3=(user.name_first + ' ' + user.name_last + ' | ' + date)
            hr
            textarea(name="body" placeholder="Add blog body here using Markdown")#blog-post
            input(type="button" id="postBtn" value="Publish")
            input(type="button" id="saveBtn" value="Save as draft")