extends layout

block content
    page(style="width: 80%; padding: 2em 10%")
        card
            title Test Blog 1
            date Mar 17, 2018
            summary This blog site is being developed. We are optemizing the site so you can read on every device!
        card
            title Test Blog 2
            date Mar 17, 2018
            summary This blog site is being developed. We are optemizing the site so you can read on every device!
        card
            title Test Blog 3
            date Mar 17, 2018
            summary This blog site is being developed. We are optemizing the site so you can read on every device!