extends layout

block content
    page
        a(href="/test")
            card
                img(src="images/the-docs-advert.svg")
                span
                    title Test Blog 1
                    date Dylan Bulmer | Mar 17, 2018
                    summary This blog site is being developed. We are optemizing the site so you can read on every device!
        a(href="/test")
            card
                img(src="images/logo.svg")
                span
                    title Test Blog 2
                    date Dylan Bulmer | Mar 17, 2018
                    summary This blog site is being developed. We are optemizing the site so you can read on every device!
        a(href="/test")
            card
                img(src="images/logo.svg")
                span
                    title Test Blog 3
                    date Dylan Bulmer | Mar 17, 2018
                    summary This blog site is being developed. We are optemizing the site so you can read on every device!
        a(href="/test")
            card
                img(src="images/logo.svg")
                span
                    title Test Blog 4
                    date Dylan Bulmer | Mar 17, 2018
                    summary This blog site is being developed. We are optemizing the site so you can read on every device!