doctype html
html
    head
        title= 'Piggah Bro Studios | '+ title

        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(rel="icon" type="image/x-icon" href="favicon.ico")

        link(rel='stylesheet', href='/css/gaming.css')
        link(rel='stylesheet', href='/css/font-awesome.min.css')
        link(rel='stylesheet', href='/css/ionicons.min.css')
    body
        header
            h2 Piggah Bro Studios
            | Gaming Community
            main(style="font-size: 0.6em; width: 50%; margin: auto;")
                section
                    columns
                        column
                            a(href="/") Home
                        column
                            a(href="/forums") Forums
                        column
                            a(href="http://steamcommunity.com/groups/piggahbrostudios" target="_BLANK") Steam Group
                        column
                            a(href="https://discord.gg/A2db8se" target="_BLANK") Discord
            logo
        main(style="position: absolute; top: 200px;")
            section
                title Game Servers
                columns
                    column
                        subtitle Minecraft
                        info Version 1.11.2
                        info Status: Offline
                        a(href="http://piggahbro.ddns.net:25565" target="_BLANK") Click for link!
                    column
                        subtitle Unturned
                        info Version 1.11.2
                        info Status: Offline
                        a(href="steam://connect/piggahbrostudios.com:27015") Play Now!
                    column
                        subtitle Garry's Mod
                        info TTT
                        info Status: Offline
                        a(href="#") Building!