doctype html
html
  head
    title= 'Bulmer Solutions | ' + title

    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="icon" type="image/x-icon" href="favicon.ico")

    link(rel='stylesheet', href='/css/main.css')
    link(rel="stylesheet" href='/css/admin.css')
    link(rel='stylesheet', href='/css/font-awesome.min.css')
    link(rel='stylesheet', href='/css/ionicons.min.css')
    link(rel='stylesheet' href="https://fonts.googleapis.com/css?family=Open+Sans:300,400")

    script(src="/js/barba.js" type="text/javascript")

  body
    include ../modules/bar-no-logo.pug
    include ../modules/nav.pug
    #barba-wrapper
        .barba-container
            block content

    block scripts
    script(src="/js/page.js" type="text/javascript")